/*** Glocal styles ***/
html, body {
    height: 100%;
    font-family: Helvetica Neue, helvetica, arial;
    font-size:14px;
    color:#313131;
}

body{
	width:960px;
	margin:0 auto;
	background:#f2f2f2;
}

ul, h1, h2, h3, h4, p{
	margin:0;
	padding:0;
}

a[href]{
	color:#167f39;
	text-decoration: none;
}
a[href]:hover{
	text-decoration: underline;
}

#content{}

.logo{
	background:url(../images/logo.png) no-repeat;
	display:inline-block;
	width:345px;
	height:110px;
}

header{}
footer{}

button, a[href].button{
	border-radius:3px;
	padding:4px 6px;
	color:#fff;
	font-size:20px;
	position: relative;
	border:none;
	border:1px solid rgba(4,76,41,.8);
	background-image: linear-gradient(bottom, rgb(4,76,41) 0%, rgb(22,127,57) 48%, rgb(52,145,64) 52%, rgb(69,191,85) 100%);
	background-image: -o-linear-gradient(bottom, rgb(4,76,41) 0%, rgb(22,127,57) 48%, rgb(52,145,64) 52%, rgb(69,191,85) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(4,76,41) 0%, rgb(22,127,57) 48%, rgb(52,145,64) 52%, rgb(69,191,85) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(4,76,41) 0%, rgb(22,127,57) 48%, rgb(52,145,64) 52%, rgb(69,191,85) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(4,76,41) 0%, rgb(22,127,57) 48%, rgb(52,145,64) 52%, rgb(69,191,85) 100%);
	box-shadow:1px 1px 2px rgba(4,76,41,.8);
}	

button:before, button:after,
a[href].button:before, a[href].button:after {
    content: attr(title);
    padding: 5px;
    color: rgba(0,0,0,.1);
    position: absolute;
}
button:before,
a[href].button:before { top: 1px; left: 1px }
button:after,
a[href].button:after  { top: 2px; left: 2px }
a[href].button:hover{
	text-decoration: none;
}

.headerbar{
	padding: 3px 6px;
	background:#f2f2f2;
	background-image: linear-gradient(top, #f2f2f2 0%, #d5d5d5 100%);
	background-image: -o-linear-gradient(top, #f2f2f2 0%, #d5d5d5 100%);
	background-image: -moz-linear-gradient(top, #f2f2f2 0%, #d5d5d5 100%);
	background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #d5d5d5 100%);
	background-image: -ms-linear-gradient(top, #f2f2f2 0%, #d5d5d5 100%);
	border:1px solid #ababab;
	border-radius:4px;
	color:#044c29;
	z-index: 2;
	position: relative;
}
.pagebanner{
	position:relative;
	top:-4px;
}
.pagebanner img{
	border-radius:4px;
}
.minibox{
	width:180px;
	min-height:70px;
	display:inline-block;
	padding:7px 10px;
	margin: 10px 20px;
	vertical-align: top;
	border-radius:4px;
	background:#f9f9f9;
	background-image: linear-gradient(top, #f9f9f9 0%, #f0f0f0 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #f0f0f0 100%);
	background-image: -moz-linear-gradient(top, #f9f9f9 0%, #f0f0f0 100%);
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f0f0f0 100%);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #f0f0f0 100%);
	box-shadow: 0px 2px 3px rgba(0,0,0,.3), inset 2px 1px rgba(255,255,255,1);
	border:1px solid #e0e0e0;
}
.minibox.first{
	margin-left:0;
}
.minibox.last{
	margin-right:0;
}

.headlinebox{
	position:relative;
}
.headlinebox .headline{
	display:inline-block;
	width:60%;
}
