#account .container{
	padding:5px 0px 5px 20px;
	display:none;
}
#account .container.closed{
	display:none;
}
#account .container.open{
	display:block;
}
#account .container .column-right h3{
	margin-bottom:4px;
}
#account .container .column-right.existing{
	background: #dedede;
	padding:10px;
}
#account #list-items-container{
	height:250px;
	overflow-y: scroll;
	overflow-x:hidden;
}
#account #list-items-container li{
	padding:8px 5px;
}
#account #list-items-container li:hover{
	background: #ffffff;
	border:1px solid #ddd;
	padding:7px 4px;
}

#account .headerbar{
	margin-bottom:30px;
}

#account .account-section h3 a[href]{
	color:#252525;
	display:inline-block;
	width:98%;
	background:#ebebeb;
	border-top:1px solid #bebebe;
	padding:5px 0px 5px 20px;
}
#account .account-section.active h3 a[href]{
	background-image: -webkit-linear-gradient(top,#ebebeb 0%, #f2f2f2 100%);
	background-image: -o-linear-gradient(top,#45bf55 0%, #349141 48%, #167f39 52%, #044c29 100%);
	background-image: -moz-linear-gradient(top,#45bf55 0%, #349141 48%, #167f39 52%, #044c29 100%);
	background-image: -ms-linear-gradient(top,#45bf55 0%, #349141 48%, #167f39 52%, #044c29 100%);
	background-image: linear-gradient(top,#45bf55 0%, #349141 48%, #167f39 52%, #044c29 100%);
}
#account .account-section h3 a[href]:hover{
	text-decoration: none;
}

/*** Account expenses ***/
#account .column-right.main{
	width:250px;
	float:right;
}
#account #account-expenses textarea,
#account #account-income textarea{
	width:300px;
	height:100px;
}
#account #expense-items-container li{
	margin:4px 0;
}
#account #expense-items-container li .column-left,
#account #expense-items-container li .column-right{
	width:48%;
}
#account #expense-items-container li .column-right{
	text-align: right;
}

/*** Account Income ***/
#account #account-income .column-left.main{
	width:53%;
}
#account #account-income .column-right.main{
	float:right;
}

#account #account-income form label{
	width:inherit;
}