<script type="text/html" id="aboutus-tpl">
	<div id="aboutus">
		<h2 class="headerbar">About Us</h2>
		<p>The Stash is a brand new interactive application based soley online.  Needless to say there is not much to this story so this page is short, but here is some information about why we developed The Stash</p>

		<p>Here at Forward Motion Consulting, we value thriftiness, building wealth, and getting ahead.  In todays society it costs an enormous amount to raise a family and live life, even without any extras.  If you have ever blown a tire and had to get out a calculator and login to your bank account to see if you can afford to put new tires on your car, or your kid needs medical attention but you realize some bills may not get paid because of it, then you owe it to yourself to check The Stash out.</p>
		<p>The Stash strives to achieve two main goals. 1; Give you daily visibility to how much cold hard cash you can reasonably spend, and 2; teach you to spend below your means, build wealth, and remove financial stress from your life.</p>
	</div>
</script>