<script type="text/html" id="account-tpl">
	<div id="account">
		<h2 class="headerbar">
			Manage Account <span class="menu"><a href="/account/expenses">Monthly Expenses</a> | <a href="/stash">Current Stash</a></span>
		</h2>
		<div id="expenses-container">{{>account-expenses-tpl}}</div>
		<div id="income-container">{{>account-income-tpl}}</div>
		<div id="details-container">{{>account-details-tpl}}</div>
	</div>
</script>

<script type="text/html" id="account-expenses-tpl">
	<div id="account-expenses">
		<h3><a href="#">Expenses</a></h3>
		<div class="container closed">
			<p>Manage your monthly expenses</p>
			<form>
				<p>
					<label>Amount:</label>
					<input type="text" name="amount">
				</p>
				<p>
					<label>Date:</label>
					<input type="text" name="date">
				</p>
				<p>
					<label>Note:</label>
					<textarea name="note"></textarea>
				</p>
				<p><button type="submit">Save</button></p>
			</form>
		</div>
	</div>
</script>	

<script type="text/html" id="account-income-tpl">
	<div id="account-income">
		<h3><a href="#">Income</a></h3>
		<div class="container closed">
			<p>stuff</p>
		</div>
	</div>
</script>

<script type="text/html" id="account-details-tpl">
	<div id="account-details">
		<h3><a href="#">Details</a></h3>
		<div class="container closed">
			<p>stuff</p>
		</div>
	</div>
</script>