<script type="text/html" id="footer-tpl">
	<div id="footer">
		<ul>
			<li><a href="/home" title="Visit The Stash home page">Home</a></li>
			<li><a href="/aboutus" title="Visit The Stash home page">About Us</a></li>
			<li><a href="/contactus" title="Visit The Stash home page">Contact US</a></li>
			<li><a href="/termsofuse" title="Visit The Stash home page">Terms of Use</a></li>
			<li class="last"><a href="/privacypolicy" title="Visit The Stash home page">Privacy Policy</a></li>
		</ul>
		Copyright &copy; 2012 Forward Motion Consulting, LLC
	</div>
</script>