<script type="text/html" id="footer-tpl">
	<div id="footer">
		<ul>
			{{#is_logged_in}}<li><a href="/stash" title="View your Stash home page">My Stash</a></li>{{/is_logged_in}}
			<li><a href="/home" title="Visit The Stash home page">Home</a></li>
			<li><a href="/aboutus" title="Visit The Stash home page">About Us</a></li>
			<li><a href="/contactus" title="Visit The Stash home page">Contact Us</a></li>
			<li><a href="/termsofuse" title="Visit The Stash home page">Terms of Use</a></li>
			<li class="last"><a href="/privacypolicy" title="Visit The Stash home page">Privacy Policy</a></li>
		</ul>
		<p class="copyright">Copyright &copy; 2012 Forward Motion Consulting, LLC</p>
	</div>
</script>