<script type="text/html" id="getstarted-tpl">
	<div id="getstarted">
		<p>Congratulations! You are on your way to stop overspending and climb your way out of debt.</p>
		<form>
			<label>Name:</label>
			<input type="text" name="name">
			<label>Email:</label>
			<input type="email" name="email">
			<label>Password:</label>
			<input type="text" name="password">
			<label>Password Again:</label>
			<input type="password" name="password_again">
			<input type="checkbox" name="agree">
			I agree to the <a href="/termsofuse">Terms of Use</a>
			<button type="submit"></button>
		</form>
	</div>
</script>