<script type="text/html" id="getstarted-tpl">
	<div id="getstarted">
		<h2 class="headerbar">Get Started with your Stash</h2>
		<p class="description">Congratulations! You are on your way to stop overspending and climb your way out of debt.</p>
		<div class="column-left">
			<form>
				<p>
					<label>Name:</label>
					<input type="text" name="name">
				</p>
				<p>
					<label>Email:</label>
					<input type="email" name="email">
				</p>
				<p>&nbsp;</p>
				<p>
					<label>Password:</label>
					<input type="text" name="password">
				</p>
				<p class="note"><label>&nbsp;</label>*Password must be 5 characters and include at least 1 number</p>
				</p>
					<label>Password Again:</label>
					<input type="password" name="password_again">
				</p>
				<p>&nbsp;</p>
				<p>
					<label>&nbsp;</label>
					<input type="checkbox" name="agree">
					I agree to the <a href="/termsofuse">Terms of Use</a>
				</p>
				<p>
					<label>&nbsp;</label>
					<button type="submit">Submit</button>
				</p>
			</form>
		</div>
		<div class="column-right">
			<div class="minibox">
				<h4>Get Debt FREE</h4>
				<p></p>
			</div>
			<img src="../images/debt-free.jpg" alt="Get Debt Free">
			<div class="minibox">
				<h4>100% Secure</h4>
				<p></p>
			</div>
			<img src="../images/100percent-secure.jpg" alt="100% Secure">
			<div class="minibox">
				<h4>Financial Freedom</h4>
				<p></p>
			</div>
			<img src="../images/financial-freedom.jpg" alt="Financial Freedom">
		</div>
	</div>
</script>