<script type="text/html" id="home-tpl">
	<div id="home">
		<h2 class="headerbar">You need out of debt...Let us help</h2>
		<div class="pagebanner">
			<img src="../images/moneybanner.jpg" alt="money image">
			<p>
				Quickly track your cash. 
				<br />
				Spend within your means.
			</p>
		</div>
		
		<div class="minibox first">
			<h4>What is it?</h4>
			<p>Bacon ipsum dolor sit amet quis commodo jowl, aliqua biltong veniam.
				<a href="#" class="readmore" title="Click to read more...">Read More</a>
			</p>
		</div>
		<div class="minibox">
			<h4>Why use it?</h4>
			<p>Bacon ipsum dolor sit amet quis commodo jowl, aliqua biltong veniam. <a href="#" class="readmore" title="Click to read more...">Read More</a></p>
		</div>
		<div class="minibox">
			<h4>Track Expenses</h4>
			<p>Bacon ipsum dolor sit amet quis commodo jowl, aliqua biltong veniam.<a href="#" class="readmore" title="Click to read more...">Read More</a> </p>
		</div>
		<div class="minibox last">
			<h4>Daily Checkup</h4>
			<p>BBacon ipsum dolor sit amet quis commodo jowl, aliqua biltong veniam. <a href="#" class="readmore" title="Click to read more...">Read More</a></p>
		</div>
		<div class="headlinebox">
			<div class="headline">
				<h4>Build your Stash</h4>
				<p>Bacon ipsum dolor sit amet quis commodo jowl, aliqua biltong veniam kielbasa voluptate et proident beef enim. Pork loin meatball adipisicing leberkas, ham hock do cow esse. Flank ut turkey ut shoulder, fatback cupidatat sirloin sed dolor. Hamburger pig laboris, commodo bacon sau- sage swine et. Jowl culpa capicola reprehenderit ground round in pastrami corned beef sausage. Tri-tip t-bone ex tail ham chuck. Chuck ea jerky enim in excepteur.</p>
			</div>
			<div class="getstarted">
				<a rel-title="Get Started Today for FREE!" href="getstarted" class="button">Get Started Today for FREE!</a>
			</div>
		</div>
	</div>
</script>