<script type="text/html" id="home-tpl">
	<div id="home">
		<h2 class="headerbar">You need out of debt...Let us help</h2>
		<div class="pagebanner">
			<img src="../images/moneybanner.jpg" alt="money image">
			<p>
				Quickly track your cash. 
				<br />
				Spend within your means.
			</p>
		</div>
		
		<div class="minibox first">
			<h4>What is it?</h4>
			<p>The Stash is a budgeting tool to help you spend less money and track your cash.
				<a href="#" class="readmore" title="Click to read more..." data-more="The Stash is a simple to use online budgeting tool designed to help you spend less money and track your daily finances.">Read More</a>
			</p>
		</div>
		<div class="minibox">
			<h4>Why use it?</h4>
			<p>The Stash can help you spend less with very little effort. <a href="#" class="readmore" title="Click to read more..." data-more="With just a few minutes per day anywhere you have an internet connect, you can manage your daily budget using our envelope inspired budgeting system.">Read More</a></p>
		</div>
		<div class="minibox">
			<h4>Track Expenses</h4>
			<p>Just login often and see what expenses will be upcoming each week.<a href="#" class="readmore" title="Click to read more..." data-more="We can give you a roll up summary each day of what expenses ayou can expect, or more importantly what effect those expenses have on your daily cash flow position.">Read More</a> </p>
		</div>
		<div class="minibox last">
			<h4>Daily Checkup</h4>
			<p>A quick login each day can provide a snapshot of where you sit. <a href="#" class="readmore" title="Click to read more..." data-more="Just login to the site daily with your Facebook or Stash account and feel good about where your cash is.">Read More</a></p>
		</div>
		<div class="headlinebox">
			<div class="headline">
				<h4>Build your Stash</h4>
				<p>The Stash was built on the premise that American Culture has a seriously flawed understanding of personal finance.  It is far too common for people to graduate high school, get a credit card, borrow money for cars, home, and toys.  We live beyond our means and do not realize it until it is too late.  If you are wealthy, or already live below your means than this application is not for you. If you are like most Americans and find yourself questioning the impact of each purchase on your finances, then this is for you! Just click get started and see where your stash is going!</p>
			</div>
			<div class="getstarted">
				<a rel-title="Get Started Today for FREE!" href="getstarted" class="button">Get Started Today for FREE!</a>
			</div>
		</div>
	</div>
</script>