<script type="text/html" id="login-tpl">
	<div id="login">
		<a class="facebook" href="#"><span><i class="icon-facebook"></i> Connect with Facebook</span></a>
		<p class="or">- OR -</p>
		<form class="alternate">
			<p>
				<label>Email:</label>
				<input type="email" name="email" value="{{email}}" required>
			</p>
			<p>
				<label>Password:</label>
				<input type="password" name="password" required>
			</p>
			<p class="textleft">
				<button type="submit">Login</button>
				<a href="#" class="forgot">Forgot Password</a>
			</p>
		</form>
	</div>
</script>

<script type="text/html" id="forgot-password-tpl">
	<div id="forgotPassword">
		<p>Enter your email address and we will email your password to you.</p>
		<form>
			<input type="hidden" name="email_type" value="forgotpassword">
			<input type="hidden" name="hostname" value="{{hostname}}">
			<p>
				<label>Email:</label>
				<input type="email" name="email" required>
			</p>
			<p>
				<label></label>
				<button type="submit">Submit</button>
			</p>
		</form>
	</div>
</script>

<script type="text/html" id="reset-password-tpl">
	<div id="resetPassword">
		<h2 class="headerbar">Reset Password</h2>
		<div class="content">
			<form>
				<input type="hidden" name="reset_id" value="{{reset_id}}">
				<p>
					<label>New Password</label>
					<input type="password" name="password" required>
				</p>
				<p>
					<label></label>
					<button type="submit">Submit</button>
				</p>
			</form>
		</div>
	</div>
</script>