<script type="text/html" id="currentstash-tpl">
	<div id="currentStash">
		<h2 class="headerbar">
			Current Stash <span class="menu"><a href="/account/expenses">Monthly Expenses</a> | <a href="/account">Account</a></span>
		</h2>
		<div class="column-left">
			<a href="stash/details">Details</a> | 
			<a href="stash/addexpense">Add Expense</a>
			<div>
				<h3>Today 7/26/2012</h3>
				<p class="label"></p>
				<p></p>
				<p></p>
			</div>
			<div>
				<h3>Week 7/22 (4)</h3>
			</div>
			<div>
				<h3>Month July (7)</h3>
			</div>
		</div>
		<div class="column-right">

		</div>
		<img src="../images/temp_current_stash.png">
	</div>
</script>