<script type="text/html" id="currentstash-tpl">
	<div id="currentStash">
		<h2 class="headerbar">
			Current Stash <span class="menu"><a href="/account/expenses">Monthly Expenses</a> | <a href="/account">Account</a></span>
		</h2>
		<div class="column-left">
			<div class="submenu">
				<a href="stash/details">Details</a> | 
				<a href="stash/addexpense">Add Expense</a>
			</div>
			<div class="today">
				<h3>Today 7/26/2012</h3>
				<ul class="label-column">
					<li><span class="label">Cash Available</span></li>
					<li><span class="label">Hurray, no bills today!</span></li>
				</ul>
				<ul>
					<li><span class="dollar-sign">$</span></li>
					</li><span class="dollar-sign"></span></li>
				</ul>
				<ul class="total-column">
					<li>280</li>
					<li>&nbsp;</li>
				</ul>
			</div>
			<div class="week">
				<h3>Week 7/22 (4)</h3>
				<ul class="label-column">
					<li><span class="label">Cash Available</span></li>
					<li><span class="label">Hurray, no bills today!</span></li>
				</ul>
				<ul>
					<li><span class="dollar-sign">$</span></li>
					</li></li>
				</ul>
				<ul class="total-column">
					<li>280</li>
					<li>&nbsp;</li>
				</ul>
			</div>
			<div class="month">
				<h3>Month July (7)</h3>
				<ul class="label-column">
					<li><span class="label">Cash Available</span></li>
					<li><span class="label">Hurray, no bills today!</span></li>
				</ul>
				<ul>
					<li><span class="dollar-sign">$</span></li>
					</li></li>
				</ul>
				<ul class="total-column">
					<li>280</li>
					<li>&nbsp;</li>
				</ul>
			</div>
		</div>
		<div class="column-right">
			<div class="minibox">
				<h4>Your Doing Great!</h4>
				<p>Just mind your spending and keep up the great work!</p>
			</div>
			<img src="../images/doing_great.jpg" alt="Doing Great">
			<div class="minibox">
				<h4>Stay the Course</h4>
				<p>Nothing good comes easy.  Slow and steady wins the race.</p>
			</div>
			<img src="../images/stay_the_course.jpg" alt="Stay the course">
		</div>
	</div>
</script>